// Partials
@import 'common/reset';
@import 'common/icons';

// Typography
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans+Condensed:300');

/* GLOBALS */

html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;

  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #231f20;
  line-height: 1.3;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff3f4+0,aaaeaf+100 */
  background: rgb(239,243,244); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(239,243,244,1) 0%, rgba(170,174,175,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(239,243,244,1) 0%,rgba(170,174,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(239,243,244,1) 0%,rgba(170,174,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f4', endColorstr='#aaaeaf',GradientType=0 ); /* IE6-9 */
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

h2 {
  font-size: 24px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 14px;
}

a {
  color: #00b8f9;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 0.5em;
  padding: 0.7em 2em;
  border: none;
  border-radius: 100px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;

  i { 
    font-size: 1.2em;
  }
}

.btn-small {
  font-size: 13px;
}

.btn-primary {
  background: #df258c;
  color: #fff;

  &:hover {
    background: #0cb0dc;
  }
}

.btn-white {
  background: #fff;
  color: #231f20;
  
  &:hover {
    color: #fff;
    background: #0cb0dc;
  }
}

/* APP */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 1em;

  img {
    max-height: 20px;
  }

  @media (min-width: 720px) {
    position: fixed;
    top: 0px;
    left: 0px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 90%;
  max-width: 1024px;
  margin: 0px auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  color: #fff;

  span {
    margin-left: 0.66em;
    width: 90px;
  }
}

/* SECTIONS */

.section-home {
  text-align: center;
  
  figure,
  hgroup {
    max-width: 350px;
    margin: 0.5em auto 1em;
  }
}

.section-analizer {
  text-align: center;

  .analizer-info {
    margin: 1em;
  }
}


.section-resultado {
  text-align: center;
  max-width: 500px;
  margin: 0px auto;

  figure {
    max-width: 340px;
    margin: 1em auto 0;
  }  
}

// Spinner

.spinner {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Playlist

.playlist-container {
  width: 300px;
  margin: 1em auto 0;
  text-align: center;
}

// Social media

.sharing-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  margin-bottom: 1em;
}

.SocialMediaShareButton {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin: 5px;

  &:hover {
    color: #00b8f9;
  }
}

// Video player

.video-player {
  max-width: 640px;
  margin: 0px auto;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .player {
    box-shadow: 0px 0px 24px rgba(0,0,0,.33);
    width: 90% !important;
    max-width: 640px !important;
    height: auto !important;
  }

  .hidden {
    display: none;
  }
}

// Social Buttons

.social-buttons{
  ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li{
    margin: 0.5em 0; 
  }
  a{
    padding: 0.33em;
  }
}
